@model IEnumerable<Ghost.Models.GhostListItem>

@{
    ViewBag.Title = "Index";
}

<style>
body { background-image: url("https://images.pexels.com/photos/970517/pexels-photo-970517.jpeg?auto=compress&cs=tinysrgb&h=1200"); }
</style>

<h2>Index</h2>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    @if (TempData.ContainsKey("SaveResult"))
    {
        <div class="alert alert-success fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert">
                <span>&times;</span>
            </button>
            @TempData["SaveResult"]
        </div>
    }
    <table class="table table-hover">
        <tr class="table-success">

            <th scope="row">
                Success
                @Html.DisplayNameFor(model => model.GhostId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedUtc)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.GhostId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedUtc)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.GhostId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.GhostId }) 
           |
                    @Html.ActionLink("Delete", "Delete", new { id = item.GhostId })
                </td>
            </tr>
        }

    </table>
